@font-face {
  font-family: Lyons;
  src: url("fonts/LyonsSerif-E5BW.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MontserratSemibold;
  src: url("fonts/MontserratSemibold-Yz368.ttf");
  font-weight: normal;
  font-style: normal;
}

.lyons {
  font-family: Lyons;
}


.MontserratSemibold {
  font-family: MontserratSemibold;
}
